*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
/* Banner style */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 100%;
    height: 516px;
    padding: 10px 60px 0px 60px;
background: rgba(229, 84, 115, 0.10)
}


.ban-text  h5{
    font-size: 60px;
    padding: 0px 108px 9px;
}
.ban-text p {
    padding:15px 113px;
    font-weight: 350;
}
/* Button style */
.btn-primary{
 background-color: #E55473;
 border: none;
 border-radius: 8px;
 padding: 13px 19px;
 color: white;
 margin-left: 112px;

}


.ban-img img {
    width: 425px;
    height: 520px
}

/* Our featured style*/
.our-featured{
    text-align: center;
    margin:  60px 50px 60px;

}
.our-featured h5{
 font-size: 23px;
}
.our-featured p {
    font-size: 14px;
    color: rgba(39, 39, 39, 0.60);
    padding: 9px 300px 9px 300px;
    font-weight: 350px;
}
.our-featured-img{
    margin-top: 30px;
    
}
.our-featured-img ul {
    display: flex;
    list-style: none;
    text-decoration: underline;
    }
    .our-featured-img ul li{

        padding: 16px;
    margin-left: 213px;
    margin-top: -3px;
    margin-right: -69px;
    }


.our-featured-img img {
       width: 201px;
    height: 252px;
    margin: 0px 25px 0px 25px;
    padding: 34px 18px 0px 18px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

    


}












/* Footer style */
.main-ft{
    background-color:  #111010;
    color: white;
    text-align: center;
}
.text-color{
    color:#E55473;
}